@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.bebas-neue {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}

.bold-bebas-neue {
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
}

a.active hr {
  display: block;
}

a.active {
  color: #facc15;
}
